# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
.env

# VSCode
.vscode/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py

# System
.DS_Store
Thumbs.db
